<div class="col-2 text-white bg-dark h-100 px-md-2" style="height:100vh">
<div class="py-3 text-center text-strong "> <7Academy/> </div>
<div class="py-3 px-3"><a href="/" class="text-white">Dashboard</a></div>
<div class="py-3 px-3"><a href="/" class="text-white">Attendance</a></div>
<div class="py-3 px-3">Hello World </div>
<div class="py-3 px-3">Hello World </div>
<div class="py-3 px-3">Hello World </div>
<div class="py-3 px-3">Hello World </div>
<div class="py-3 px-3">Hello World </div>
</div>